europass-publisher.elasticsearch.url = {{kouta_external_elasticsearch7_url}}
europass-publisher.elasticsearch.username = {{kouta_external_elasticsearch_username}}
europass-publisher.elasticsearch.password = {{kouta_external_elasticsearch_password}}
europass-publisher.s3.region = eu-west-1
europass-publisher.s3.bucketname = europass-publish-{{ env("ENV_NAME") }}
europass-publisher.s3.keyname = europass-export-1.xml
europass-publisher.s3.endpoint = 
europass-publisher.lampi-s3.role-arn = {{kouta_external_europass_lampi_download_role_arn}}
europass-publisher.lampi-s3.external-id = {{kouta_external_europass_lampi_download_external_id}}
