ovara-kouta-light.s3.transferFileBucket = {{ovara_siirtotiedosto_s3_bucket}}
ovara-kouta-light.s3.transferFileTargetRoleArn = {{ovara_siirtotiedosto_s3_target_role_arn}}
ovara-kouta-light.s3.transferFileSaveRetryCount = {{ovara_kouta_light_s3_transfer_file_save_retry_count}}
ovara-kouta-light.s3.transferFileMaxItemCount = {{ovara_kouta_light_s3_transfer_file_max_item_count}}

ovara-kouta-light.db.url=jdbc:postgresql://{{host_postgresql_koutaexternal}}:{{host_postgresql_koutaexternal_port}}/koutaexternal
ovara-kouta-light.db.user={{postgres_app_user}}
ovara-kouta-light.db.password={{host_postgresql_koutaexternal_app_password}}
ovara-kouta-light.db.maxConnections={{ovara_kouta_light_max_connections | default('10')}}
ovara-kouta-light.db.registerMbeans=true
