name: Kouta-external

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'
          cache: 'maven'

      - uses: szenius/set-timezone@v1.1
        with:
          timezoneLinux: "Europe/Helsinki"

      - name: Set up build prerequisites
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          git clone https://github.com/Opetushallitus/ci-tools.git
          source ci-tools/common/setup-tools.sh
          (cd postgresql/docker && docker build --tag koutaexternal-postgres .)
          sudo apt install docker-compose

      - name: Build with Maven
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn --settings settings.xml clean package -B

      - uses: actions/cache@v3
        id: restore-build
        with:
          path: |
            kouta-external/target
            europass-publisher/target
          key: ${{ github.sha }}

  deploy-kouta-container:
    needs: test-and-build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: restore-build
        with:
          path: |
            kouta-external/target
            europass-publisher/target
          key: ${{ github.sha }}

      - name: Build and deploy Docker container
        shell: bash
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          git clone https://github.com/Opetushallitus/ci-tools.git
          source ci-tools/common/setup-tools.sh
          export BASE_IMAGE="baseimage-fatjar-openjdk21:master"
          export KOUTA_ARTIFACT_NAME="kouta-external"

          mv kouta-external/target/kouta-external-*-jar-with-dependencies.jar \
            $DOCKER_BUILD_DIR/artifact/${KOUTA_ARTIFACT_NAME}.jar
          cp -vr kouta-external/src/main/resources/* $DOCKER_BUILD_DIR/config/
          ./ci-tools/common/pull-image.sh
          ./ci-tools/github-build/build-fatjar.sh $KOUTA_ARTIFACT_NAME
          ./ci-tools/github-build/upload-image.sh $KOUTA_ARTIFACT_NAME

  deploy-europass-container:
    needs: test-and-build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/cache@v3
        id: restore-build
        with:
          path: |
            kouta-external/target
            europass-publisher/target
          key: ${{ github.sha }}

      - name: Build and deploy Docker container
        shell: bash
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          git clone https://github.com/Opetushallitus/ci-tools.git
          source ci-tools/common/setup-tools.sh
          export BASE_IMAGE="baseimage-fatjar-openjdk21:master"
          export EUROPASS_ARTIFACT_NAME="kouta-external-europass"

          mv europass-publisher/target/europass-publisher-*-jar-with-dependencies.jar \
            $DOCKER_BUILD_DIR/artifact/${EUROPASS_ARTIFACT_NAME}.jar
          cp -vr europass-publisher/src/main/resources/* $DOCKER_BUILD_DIR/config/
          ./ci-tools/common/pull-image.sh
          ./ci-tools/github-build/build-fatjar.sh $EUROPASS_ARTIFACT_NAME
          ./ci-tools/github-build/upload-image.sh $EUROPASS_ARTIFACT_NAME
